body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  background-color: #FAFAFA; }
  body .spinner {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 2px;
    visibility: hidden; }
  body .hide {
    display: none; }
  body h1 {
    border-bottom: 1px dashed #f2f2f2;
    padding-bottom: 10px;
    position: relative;
    color: #411E5A;
    text-align: center; }
    body h1 small {
      position: relative;
      top: -12px;
      margin-left: 0px;
      font-size: 8px;
      text-transform: uppercase;
      display: inline-block;
      padding: 0px 6px;
      line-height: 12px;
      height: 12px;
      background-color: #FFB914; }
  body .row {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .row .col.col-form {
      flex: 0 0 500px;
      max-width: 500px;
      margin-right: 20px; }
    body .row .col.col-photos {
      min-width: 300px; }
  body .box {
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #EEE;
    padding: 10px; }
    body .box > strong {
      display: block;
      padding-bottom: 5px;
      text-transform: uppercase; }
    body .box small {
      color: #999; }
    body .box.box-callback, body .box.box-photos {
      border-style: dashed;
      padding: 40px 20px; }
  body form {
    margin: 0; }
  body label {
    display: block;
    margin: 5px 0; }
  body button {
    background-color: #411E5A;
    border: 1px solid white;
    color: white;
    padding: 10px 40px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    display: table;
    margin: 0 auto; }
  body input {
    font-family: 'Dosis', sans-serif;
    outline: none; }
  body input[type="radio"],
  body input[type="checkbox"] {
    vertical-align: top; }
  body #photos {
    max-height: 185px;
    overflow: auto; }
    body #photos div {
      padding: 5px 5px 5px 20px;
      position: relative; }
      body #photos div:not(:last-child) {
        border-bottom: 1px solid #f2f2f2; }
      body #photos div.loading .spinner {
        visibility: visible; }
  body.scroll::-webkit-scrollbar, body.scroll::-webkit-scrollbar-track,
  body .scroll::-webkit-scrollbar,
  body .scroll::-webkit-scrollbar-track {
    background-color: #a6a6a6; }
  body.scroll::-webkit-scrollbar,
  body .scroll::-webkit-scrollbar {
    width: 6px; }
  body.scroll::-webkit-scrollbar-thumb,
  body .scroll::-webkit-scrollbar-thumb {
    background-color: #333; }
  body #callback {
    max-height: 185px;
    overflow: auto; }
  body .success {
    color: green; }
  body .error {
    color: red; }
  body .box-photos .progress,
  body .box-photos .total {
    border-top: 1px solid #DDD;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center; }
  body #login {
    position: fixed;
    width: 250px;
    padding: 20px;
    background-color: white;
    top: 100px;
    left: 50%;
    margin-left: -125px;
    z-index: 2;
    visibility: hidden; }
    body #login input,
    body #login button {
      width: 100%; }
    body #login input {
      height: 40px;
      border: 1px solid #DDD;
      padding: 10px; }
    body #login .input-wrapper {
      margin-bottom: 10px; }
    body #login .callback {
      display: block;
      text-align: center;
      color: red;
      padding: 0 0 10px; }
    body #login .button-wrapper {
      position: relative; }
    body #login .spinner {
      top: 10px;
      right: 10px;
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-left-color: white;
      left: inherit; }
    body #login.loading .spinner {
      visibility: visible; }
    body #login.loading button {
      pointer-events: none;
      background-color: rgba(65, 30, 90, 0.9); }
  body.loading:before, body.no-auth:before {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 1; }
  body.loading #content, body.no-auth #content {
    filter: blur(2px); }
  body.no-auth #login {
    visibility: visible; }

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #411E5A;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    transform: rotate(-5deg); }
  30% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  80% {
    transform: rotate(5deg); }
  90% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

.shake {
  display: inline-block;
  animation: shake .3s infinite; }
